@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
:root{
    --Orange: hsl(26, 100%, 55%);
    --Paleorange: hsl(25, 100%, 94%);
    --Verydarkblue: hsl(220, 13%, 13%);
    --Darkgrayishblue: hsl(219, 9%, 45%);
    --Grayishblue: hsl(220, 14%, 75%);
    --Lightgrayishblue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Kumbh Sans", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}
/* Start Nav Style */
nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img , button{
    cursor: pointer;
}
nav .left .logo { 
    cursor: default;
    
}
nav .left :first-child{
    margin-right:15px;
}
nav .right :first-child{
    width: 30px;
    
}
nav .right :nth-child(2) {
    width: 30px;
    margin-left:15px;
}
nav .left .nav-links {
    
    position: absolute;
    top: 0;
    left: -60%;
    padding: 20px;
    width: 60%;
    height: 100vh;
    background-color: var(--White);
    z-index: 9;
    transition: .4s ;
}
nav .left .nav-links img {
    margin-bottom: 40px;
}
nav .left .nav-links ul {
    list-style: none;
}
nav .left .nav-links ul li {
    margin-bottom: 50px;
}
nav .left .nav-links ul li a {
    text-decoration: none;
    color: var(--Black);
    font-weight: 700;

}


/* End Nav Style */

/* Start Header Style  */
header .left .main-photo :nth-child(3){
    width: 100%;
    position: relative;
}
header .left .main-photo :nth-child(1),header .left .main-photo :nth-child(2){
    position: absolute;
    z-index: 7;
    padding: 13px 16px ;
    border-radius: 50% ;
    background-color: var(--White);
}
header .left .main-photo .next:hover , header .left .main-photo .previous:hover {
    filter: invert(1%) sepia(4%) saturate(6307%) hue-rotate(-229deg) brightness(472%) contrast(94%);
    
}
header .left .main-photo :nth-child(1){
    top: 28%;
    left: 15px;
}
header .left .main-photo :nth-child(2){
    top: 28%;
    right: 15px;
}
header .left .secondary-photo {
    display: none;
} 
header .right {
    padding: 20px;
}
header .right .title :first-child {
    color: var(--Orange);
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 2px;
}
header .right .title :nth-child(2){
    width: 70%;
    font-weight: 700;
    margin: 15px 0;
}
header .right .title :nth-child(3){
    color: var(--Darkgrayishblue);
    line-height: 30px;
    margin-bottom: 15px;
}
header .right .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .right .price .left :first-child{
    color: var(--Black);
    font-weight: 700;
    font-size: 19px;
}
header .right .price .left :nth-child(2){
    margin-left: 10px;
    font-size: 11px;
    font-weight: 700;
    padding: 1px 7px;
    color: var(--Orange);
    border-radius: 3px;
    background-color: rgba(255, 211, 167, 0.383);
}
header .right .price .right p {
    color: var(--Grayishblue);
    text-decoration: line-through;
}
header .right .cart .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--Lightgrayishblue) ;
    padding: 15px;
    border-radius: 10px;
}
header .right .cart .left :nth-child(2) {
    font-weight: 700;
}
header .right .cart .right button{
    width: 100%;
    padding: 0;
    border: none;
    padding: 18px;
    border-radius: 10px;
    background-color: var(--Orange);
    color: var(--White);
    font-weight: 700;
}
header .right .cart .right img {
    filter: brightness(10);
    margin-right: 8px;
}

/* End Header Style  */

/* Start CheckOut Style */

.checkout {
    display: none ;
    position: absolute;
    z-index: 20;
    top: 100px;
    right: 10px;
    background-color: white;
    width: 95%;
    border-radius: 7px;
}

.checkout .title h3 {
    padding: 30px
}
.checkout .empty {
    display: none;
}
.checkout .empty p {
    text-align: center;
    margin: 85px auto;
    color: var(--Darkgrayishblue);
    font-weight: 700;
}
.checkout .product-cart {
    display: none;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout .product-cart .left img {
    width: 50px;
    border-radius: 5px;
}
.checkout .product-cart .center :nth-child(1) {
    margin-bottom: 5px;
    color: var(--Darkgrayishblue);
    
}
.checkout .product-cart .center :nth-child(2) {
    color: var(--Darkgrayishblue);
}
.checkout .product-cart .center :nth-child(2) span {
    color: var(--Black);
    font-weight: 700;
}
.checkout .button {
    padding: 0px  30px 30px 30px;
}
.checkout .button button {
    border: none;
    width: 100%;
    padding: 20px;
    border-radius:8px;
    background-color: var(--Orange);
    color: var(--White);
    font-weight: 700;
    display: none;
}
/* End CheckOut Style */

/* Start Desktop Design */
@media (min-width:1000px){
    nav .left .menu , nav .left .nav-links .close {
        display: none;
    }
    nav .left .nav-links {
        display: block;
        position: static;
        background-color:transparent ;
        height: 100%;
        width: 100%;
        padding: 0px;
    }
    nav .right :nth-child(2):hover{
        border: var(--Orange) solid 2px;
        border-radius: 50%;
    }
    nav .right {
        position: relative;
    }
    nav .right::before {
        content: "2";
        background-color: var(--Orange);
        font-size: 10px;
        padding: 0px 6.5px;
        color: white;
        position: absolute;
        left: 12px;
        top: -2px;
        border-radius: 11px;
    }
    nav .left .nav-links ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 30px;
    }
    nav .left .nav-links ul li {
        margin: 0 20px;
    }
    nav .left .nav-links ul li a {
        color: var(--Grayishblue);
        padding-bottom: 43px;
    }
    nav .left .nav-links ul li a:hover {
        color: var(--Darkgrayishblue);
        border-bottom: 5px solid var(--Orange);
    }
    nav .left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  
    nav {
        width: 85%;
        margin:20px auto;
    } 

    .space {
        width: 83%;
        margin:20px auto;
    }
    hr {
        opacity: .2;

    }
    header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 110px 170px; 
    }
    header .left .main-photo .next , header .left .main-photo .previous {
        display: none;
    }
    header .left  {
        width: 45%;
    }
    header .right {
        width: 45%;
    }
    header .left .secondary-photo {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-left: 30px;
    }
    header .left .secondary-photo img {
        width: 15%;
        border-radius: 10px;
        transition: .3s;
    }
    header .left .main-photo :nth-child(3) {
        border-radius: 10px;
        width: 80%;
        margin-bottom:30px;
        margin-left: 30px;
    }
    header .left .secondary-photo img:hover {
        border: var(--Orange) solid 3px;
        filter:opacity(.5);
    }
    header .right {
        padding: 0;
    }
    header .right .title :nth-child(2) {
        font-size: 45px;
    }
    header .right .title :nth-child(3){
        width: 70%;
    }
    header .right .price{
        display: block;
    }
    header .right .price .left  {
        margin-bottom: 10px ;
    }
    header .right .price .right  {
        margin-bottom: 30px ;
    }
    header .right .cart {
        display: flex;
    }
    header .right .cart .right{
        transition: .3s ease;

    }
    header .right .cart .right:hover{
        opacity: .7;
    }
    
    header .right .cart .left {
        margin-right: 15px;
    }
    header .right .cart .left .reduce:hover ,header .right .cart .left .add:hover {
        opacity: .3;
    }
    header .right .cart .right {
        width: 90%;
    }
    .checkout {
         
        display: none;
        width: 22%;
        position: absolute;
        top: 114px;
        right: 107px;
        box-shadow: -3px 6px 30px #4f3c3c91;
    }
    .checkout .empty {
        display: none;
    }
    .checkout .product-cart {
        display: flex;
    }
    .checkout .button button {
        display: none;
        transition: .3s ease;
    } 
    .checkout .button button:hover {
        opacity: .7;
    }
}


/* End Desktop Design */